{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="offset-3 col-md-6">
      <div class="m-2 text-center">
        <h1>Register</h1>
      </div>

      {% if messages %} {% for message in messages %}
      <div class="m-2 p-2 rounded alert-danger" id="alert">{{message}}</div>
      {% endfor %} {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            required
            class="form-control"
            type="text"
            name="first_name"
            id=""
            placeholder="First Name"
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="text"
            name="last_name"
            placeholder="Last Name"
            id=""
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
            id=""
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="email"
            name="email"
            placeholder="Enter Your Email"
            id=""
          />
        </div>
        <div class="form-group">
          <label for="author">Choose Type : </label>
          <select name="user_type" id="">
            <option value="Reader">Reader</option>
            <option value="Author">Author</option>
          </select>
        </div>

        <div class="form-group">
          <input
            required
            class="form-control"
            type="password"
            name="password1"
            id=""
            placeholder="Enter Your Password"
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="password"
            name="password2"
            id=""
            placeholder="Enter Your Password"
          />
        </div>

        <input
          type="submit"
          name="Register"
          value="Register"
          class="btn btn-primary w-100"
        />
      </form>
      <div class="m-2">
        <h3>
          Already have an Account?
          <a href="{% url 'Accounts:login_user' %}">Login Here</a>
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
